body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #000;
  color: antiquewhite;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
}

.input {
  border: 1px solid antiquewhite;
  border-radius: .3rem;
  padding: .25rem;
  width: 10rem;
}

select {
  margin-left:.5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}